<%= image_tag @betty.image.url %>

<p>
  <strong>Description:</strong>
  <%= @betty.description %>
</p>

<% if @betty.user == current_user %>
	<%= link_to 'Edit', edit_betty_path(@betty) %> |
<% end %>
<%= link_to 'Back', betties_path %>
