<h1>About us</h1>
<p>Ever make a bet with someone after a few beers and then one day they show up pounding on your door demanding you to pay up for that bet but you didn't have the cash on you but, ya know, "I'm good for it, DAVE!" you told him but Dave didn't believe you (for the 3rd day in a row) so Dave got a little aggressive and started making threats to you and your new car ("<i>oh helllll nah you had enough money to buy a NEW CAR?!</i>" he yells at you) and then you end up getting your tires slashed, windshield bashed in, and left eye all busted up  because you (a) drank a few too many beers that one Thursday night in october last year and (b) totally forgot about that silly "A-Rod will never play in another game" bet because you didn't enter it on that awesome new app called "Betties"?  Yeah, it's never happened to me either.</p>

<p>So try out Betties! You (and Dave) will be glad you did. Especially when you smoke Dave over that Pacquiao bet.</p>

<p>Oh and if you have any feedback (or know of a good auto shop) hit me up on Twitter at <a href="http://www.twitter.com/quinnhubertz"> @QuinnHubertz</a></p> 